
.header{
    padding: 40px 0;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid rgba(195, 212, 233, 0.4);
}
.icon-circle{
    width: 44px;
    height: 44px;
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: #596780;
    cursor: pointer;
    position: relative;
}
.circle-red{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    position: absolute;
    background-color: #FF4423;
    top: 15%;
    left: 85%;
    transform: translate(-50% , -50%);
}
.profile-pic{
    width: 44px;
    height: 44px;
    border-radius: 90px;
    object-fit: cover;
}
.filter-btn{
    display: none;
}
.btn-filter{
    display: none;
    width: 45px;
    border: solid 1px rgba(195, 212, 233, 0.4);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 45px;
    margin-left: 16px;
    cursor: pointer;
}
.cover{
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 998;
    transition: 1s;
}
@media (max-width: 990px) {
    .header{
        padding: 30px 0;
        border-bottom: none;
    }
    .search-holder{
        margin-top: 30px;
    }

}
@media (max-width: 930px) {
    .filter-btn{
        display: block;
    }
    .search-holder{
        display: flex;
        align-items: center;
    }
    .btn-filter{
        display: flex;
    }
}
@media (max-width: 768px) { 
    .profile-pic{
        width: 30px;
        height: 30px;
    }
    .logo{
        font-size: 24px;
    }
}