.footer{
    background-color: #fff;
    padding-top: 80px;
}
.footer p{
    color: rgba(19, 19, 19, 0.6);
    max-width: 300px;
    margin-top: 15px;
}
.footer li{
    margin: 15px 0;
}
.footer li a{
    color: rgba(19, 19, 19, 0.6);
}
.down-footer{
    padding: 32px 0;
    border-top: 1px solid rgba(19, 19, 19, 0.16);
    margin-top: 30px;
}