@font-face {
    font-family: "PlusJakartaSansBold";
    src: local("PlusJakartaSansBold"),
     url("./fonts/PlusJakartaSans-Bold.ttf") format("truetype");
    font-weight: bolder;
}
@font-face {
  font-family: "PlusJakartaSansMedium";
  src: local("PlusJakartaSansMedium"),
   url("./fonts/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "PlusJakartaSansSemiBold";
  src: local("PlusJakartaSansSemiBold"),
   url("./fonts/PlusJakartaSans-SemiBold.ttf") format("truetype");
  font-weight: bold;
}
body{
    font-family: "PlusJakartaSansMedium"!important;
    background-color: #F6F7F9!important;
    font-size: 16px;
}
ul{
  padding: 0!important;
  margin: 0!important;
}
li{
  list-style: none;
}
.btn-blue{
  background: #3563E9;
  border-radius: 4px; 
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0;
}
.logo{
  color: #3563E9;
  font-weight: bolder;
  font-size: 32px;
}
